body, p, h1, h2, h3, h4 {
    margin: 0;
}

body {
    min-height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.board {
    width: 400px;
    aspect-ratio: 1/1;
    background-color: brown;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

.cell {
    background-color: coral;
    /* height: 30px;
    width: 30px; */
}