@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&family=Rubik+Iso&display=swap');

body, p, h1, h2, h3, h4, h5 {
    margin: 0;
    padding:0;
}

body {
    min-height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-family: 'Rubik Iso'; */
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;  
    background-color: rgb(193, 212, 247);

}

.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.players {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* width: 400px; */
    /* background: grey; */
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.players > * {
    border: 2px solid black;
    border-radius: 5px;
    display: grid;
    place-items: center;
    height: 30px;
    /* padding: 3px; */
    width: 90%; 
    transition: 0.2s;
    

    /* white-space: nowrap; */
    overflow: hidden;
    /* text-overflow: ellipsis; */
}

.player1 {
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

label {
    font-size: 30px;
}

.selected {
    background-color: black;
    color: white;
}

button:active, a:active {
    background: blanchedalmond;
}
.home {
    background-color: rgb(193, 212, 247);
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.home h1 {
    font-size: 10vw;
    font-family: "Rubik Dirt";
} 

.board {

    width: clamp(300px, 50%, 400px);
    width: 300px;
    height: 300px;
    /* background-color: rgb(226, 226, 226); */
    /* background-color: rgb(176, 203, 252); */
    border-radius: 20px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    font-size: 50px;
    font-family: 'Rubik Dirt','Rubik Iso';

}

.cell {
    background-color: rgb(240, 240, 240);
    /* background-color: rgb(131, 214, 235); */
    background-color: rgb(193, 212, 247);
    display: grid;
    place-items: center;
    border-radius: 20px;
    transition: 0.1s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.cell:active {
    transform: scale(0.99);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* @keyframes myAnim {
	0% {
		background-position: center top;
		background-size: 100%;
	}

	100% {
		background-position: center top;
		background-size: 150%;
	}
} */

.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 0.3s;
    border-radius: 10px;
    font-size: 40px;
    background-color: rgba(255, 255, 255, 0.801);
    font-family: 'Rubik Iso';

    opacity: 0.9;
    
    /* width: 350px; */
    width: clamp(320px, 50%, 500px);

    height: 0;
    padding: 0;
    overflow: hidden; 


    /* width: 350px;
    height: 200px; 
    padding: 20px; */
}

.display {
    height: 200px; 
    padding: 20px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    bottom: 0;
    
    background-color: rgba(54, 54, 54, 0.5);
    display: none;
}

.overlay-display {
    display: initial;
}

button, a {
    border-radius: 10px;
    transition: 0.1s;
    color: black;
    text-decoration: none;
    padding: 20px;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Rubik Iso';
    background:rgb(201, 236, 149);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.quit {
    font-size: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.1s;

}

.play {
    padding: 20px;
}

a:hover, button:hover {
    transition: 0.1s;
    transform: scale(1.1);
}

input {
    /* outline: none; */
    border: none;
    height: 40px;
    padding: 4px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}

.playerInput {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    /* background: chartreuse; */
}

.playerInput div {
   display: flex;
   align-items: center;
   gap: 10px;
}

.restart {
    position: fixed;
    bottom: 20px;
    left: 20px;
}
.home1 {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

